<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="~{fragments/head}"></head>
<body>
<header class="header" th:replace="~{fragments/header}">
  <div class="container">
    <h1>
      <a href="/index/index"><img src="/images/logo.png" alt="" /></a>
    </h1>
    <ul>
      <li>
        <a href="/index/index"><i class="bi bi-house-heart"></i></a>
      </li>
      <li>
        <a href="/image/popular"><i class="bi bi-compass"></i></a>
      </li>
      <li>
        <!-- 로그인한 경우 -->
        <a
                th:if="${#authentication != null}"
                th:href="@{/member/info/{userID}(userID=${#authentication.principal.loggedMember.userID})}"
        >
          <i class="bi bi-person-circle"></i>
        </a>

        <!-- 로그인하지 않은 경우 -->
        <a th:unless="${#authentication != null}" href="/member/login">
          <i class="bi bi-person-circle"></i>
        </a>
      </li>
    </ul>
  </div>
</header>
<div class="info-wrap">
  <div class="container">
    <div class="info-box">
      <div class="profile-img">
        <img src="/images/profile.jpg" alt="" />
      </div>
      <div class="info">
        <div class="upper">
          <h2>jjang051's media lab</h2>
          <ul>
            <li><a href="/story/write">스토리등록</a></li>
            <li><a href="" id="btn-subscribe">구독하기</a></li>
            <li><a href="">설정하기</a></li>
            <li>
              <a th:if="${#authentication != null}" href="/member/logout">로그아웃</a>
            </li>
          </ul>
        </div>
        <div class="lower">
          <div class="subscribe">
            <span>게시물 <em>3</em></span>
            <span>구독정보 <em>2</em></span>
          </div>
          <div class="desc">간단한 자기 소개 글이 나옵니다.</div>
        </div>
      </div>
    </div>
    <div class="subscribe-list">
      <ul>
        <th:block th:each="member : ${subscribeList}">
          <li>
            <a th:href="@{/member/info/{userID}(userID=${member.userID})}">
<!--              <img th:src="@{/upload/{img}(img=${member.profileImg})}" alt="profile">-->
              <img src="/images/profile.jpg">
              <div th:text="${member.userName}">유저이름</div>
            </a>
          </li>
        </th:block>
      </ul>

    </div>
    <div class="story-list-box">
      <ul>
        <th:block th:each="item:${myInfo.storyList}">
          <li>
            <a href="" th:href="@{|/story/${item.id}|}">
              <img src="/images/people.jpg" alt="" th:src="@{|/upload/${item.imgUrl}|}" />
            </a>
          </li>
        </th:block>
        <!--
        <li>
          <a href=""><img src="/images/people.jpg" alt="" /></a>
        </li>
        <li>
          <a href=""><img src="/images/people.jpg" alt="" /></a>
        </li>
        <li>
          <a href=""><img src="/images/people.jpg" alt="" /></a>
        </li>
        <li>
          <a href=""><img src="/images/people.jpg" alt="" /></a>
        </li>
        <li>
          <a href=""><img src="/images/people.jpg" alt="" /></a>
        </li>
        <li>
          <a href=""><img src="/images/people.jpg" alt="" /></a>
        </li>
        <li>
          <a href=""><img src="/images/people.jpg" alt="" /></a>
        </li>
        <li>
          <a href=""><img src="/images/people.jpg" alt="" /></a>
        </li>
        <li>
          <a href=""><img src="/images/people.jpg" alt="" /></a>
        </li>
        -->
      </ul>
    </div>
  </div>
</div>
<footer th:replace="~{fragments/footer}"></footer>
<script th:inline="javascript">
  //로그인한 사람이
  const toMemberID = /*[[${myInfo.userID}]]*/ jjang051;
  const btnSubscribe = document.querySelector("#btn-subscribe");
  btnSubscribe.addEventListener("click",(e)=>{
    e.preventDefault();
    fetch(`/api/subscribe/${toMemberID}`,{
      method:"post"
    })
            .then(response=>response.json())
            .then(json=>{
              console.log("구독 성공");
              if(json.isSubscribe) {
                alert("구독성공");
              } else {
                alert("구독실패");
              }
            })
  })
</script>
</body>
</html>
