<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"></head>
<body>
<header class="header" th:replace="~{fragments/header}">
  <div class="container">
    <h1>
      <a href="/index/index"><img src="/images/logo.png" alt="" /></a>
    </h1>
    <ul>
      <li>
        <a href="/index/index"><i class="bi bi-house-heart"></i></a>
      </li>
      <li>
        <a href="/image/popular"><i class="bi bi-compass"></i></a>
      </li>
      <li>
        <!-- 로그인한 경우 -->
        <a th:if="${#authentication != null}" th:href="@{/member/info/{userID}(userID=${#authentication.principal.loggedMember.userID})}">
          <i class="bi bi-person-circle"></i>
        </a>
        <!-- 로그인하지 않은 경우 -->
        <a th:unless="${#authentication != null}" href="/member/login">
          <i class="bi bi-person-circle"></i>
        </a>
      </li>
    </ul>
  </div>
</header>
<div class="info-wrap">
  <div class="container">
    <div class="info-box">
      <div class="profile-img" id="profile-img">
        <th:block th:if="${myInfo.member.profileImg != null}">
          <img src="/images/profile.jpg" alt="" id="profile"
               th:src="@{/upload/{profile}(profile=${myInfo.member.profileImg})}"
          />
        </th:block>
        <th:block th:unless="${myInfo.member.profileImg != null}">
          <img src="/images/profile.jpg" alt="" id="profile" />
        </th:block>
      </div>
      <form style="display:none" id="profile-form">
        <input type="file" name="profileImg" id="profile-file">
        <!--<input type="text" name="userID" value="홍길동">-->
      </form>
      <div class="info">
        <div class="upper">
          <h2 th:text="${myInfo.member.userName}">jjang051's media lab</h2>
          <th:block th:if="${myInfo.pageOwner}">
            <ul>
              <li><a href="/story/write">스토리등록</a></li>
              <!--<li><a href="" id="btn-subscribe">구독하기</a></li>-->
              <li><a href="">설정하기</a></li>
              <li>
                <a th:if="${#authentication != null}" href="/member/logout">로그아웃</a>
              </li>
            </ul>
          </th:block>
          <th:block th:unless="${myInfo.pageOwner}">
            <ul>
              <!--<li><a href="/story/write">스토리등록</a></li>-->
              <li><a href="" id="btn-subscribe" data-subscribe="yes">구독하기</a></li>
              <!--<li><a href="">설정하기</a></li>-->
              <!--
              <li>
                <a th:if="${#authentication != null}" href="/member/logout">로그아웃</a>
              </li>
              -->
            </ul>
          </th:block>

        </div>
        <div class="lower">
          <div class="subscribe">
            <span>게시물 <em th:text="${myInfo.storyTotal}">3</em></span>
            <span>구독정보 <em>2</em></span>
          </div>
          <div class="desc">간단한 자기 소개 글이 나옵니다.</div>
        </div>
      </div>
    </div>
    <!--
    <div class="subscribe-list">
      <ul>
        <th:block th:each="member : ${subscribeList}">
          <li>
            <a th:href="@{/member/info/{userID}(userID=${member.userID})}">
               <img th:src="@{/upload/{img}(img=${member.profileImg})}" alt="profile">
              <img src="/images/profile.jpg">
              <div th:text="${member.userName}">유저이름</div>
            </a>
          </li>
        </th:block>
      </ul>
    </div>
    -->
    <div class="story-list-box">
      <ul>
        <th:block th:each="item:${myInfo.member.storyList}">
          <li>
            <a href="" th:href="@{|/story/${item.id}|}">
              <img src="/images/people.jpg" alt="" th:src="@{|/upload/${item.imgUrl}|}" />
            </a>
          </li>
        </th:block>
        <!--
        <li>
          <a href=""><img src="/images/people.jpg" alt="" /></a>
        </li>
        <li>
          <a href=""><img src="/images/people.jpg" alt="" /></a>
        </li>
        <li>
          <a href=""><img src="/images/people.jpg" alt="" /></a>
        </li>
        <li>
          <a href=""><img src="/images/people.jpg" alt="" /></a>
        </li>
        <li>
          <a href=""><img src="/images/people.jpg" alt="" /></a>
        </li>
        <li>
          <a href=""><img src="/images/people.jpg" alt="" /></a>
        </li>
        <li>
          <a href=""><img src="/images/people.jpg" alt="" /></a>
        </li>
        <li>
          <a href=""><img src="/images/people.jpg" alt="" /></a>
        </li>
        <li>
          <a href=""><img src="/images/people.jpg" alt="" /></a>
        </li>
        -->
      </ul>
    </div>
  </div>
</div>
<footer th:replace="~{fragments/footer}"></footer>
<script th:inline="javascript">
  //로그인한 사람이
  const toMemberID = /*[[${myInfo.member.userID}]]*/ jjang051;
  const loggedMemberID = /*[[${#authentication.principal.loggedMember.userID}]]*/ jjang051;
  const pageOwner = /*[[${myInfo.pageOwner}]]*/ false;
  const profileImg = document.querySelector("#profile-img");
  const profileFile = document.querySelector("#profile-file");
  const btnSubscribe = document.querySelector("#btn-subscribe"); //있을 수도 있고 없을 수도 있고
  console.log("btnSubscribe===",btnSubscribe);
  if(btnSubscribe) {
    btnSubscribe.addEventListener("click", (e) => {
      e.preventDefault();
      const subscribeStatus = btnSubscribe.dataset.subscribe;

      console.log("subscribeStatus ===",subscribeStatus);
      if (subscribeStatus === "yes") {
        fetch(`/api/subscribe/${toMemberID}`, {
          method: "post"
        })
        .then(response => response.json())
        .then(json => {
          if (json.isSubscribe) {
            alert("구독성공");
            btnSubscribe.dataset.subscribe = "no";
            btnSubscribe.textContent="구독취소";
          } else {
            alert("오류");
          }
        })
      } else {
        fetch(`/api/subscribe/${toMemberID}`, {
          method: "delete"
        })
        .then(response => response.json())
        .then(json => {
          if (json.isSubscribeDelete) {
            alert("구독취소");
            btnSubscribe.dataset.subscribe = "yes";
            btnSubscribe.textContent="구독하기";
          } else {
            alert("오류02");
          }
        })
      }
    })
  }
  //구독 하기 구독 취소  ajax (db에 반영)
  console.log("===null",profileImg);

  profileImg.addEventListener("click",(e)=>{
    console.log("click");
    if(!pageOwner) {
      alert("프로필을 수정할 수 없습니다.");
      return;
    }
    profileFile.click(); //trigger

  });
  profileFile.addEventListener("change",(e)=>{
    console.log(e);
    const file = e.target.files[0];
    if(!file.type.match("image.*")) {
      alert("이미지 파일만 업로드 가능합니다.");
      return;
    }
    //ajax
    const sendData = {
      name:"장성호",
      age:20,
    }
    const profile = document.querySelector("#profile");

    const profileForm =  document.querySelector("#profile-form");
    const sendFormData = new FormData(profileForm); //form에 있는 input들이 name값으로 서버로 전달된다.
//    sendFormData.append("userID","홍길동");
//    sendFormData.append("profileImg","이미지입니다.");
//    sendFormData.append("userID","홍길동"); //
    fetch(`/api/member/${loggedMemberID}/profile`,{
      method:"post",
      body:sendFormData
    })
    .then(response=>response.json())
    .then(json=>{
      profile.src = "/upload/"+json.profileImgPath;
    })
  })
</script>
</body>
</html>

<!--profile을 로그인한 사람이 자기자신과 같을때만 -->
