<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div th:if="${param.error}">    아이디 패스워드 확인해 주세요.  </div>
  <form action="/member/login" method="post">
    <div>
      <input type="text" name="userID">
    </div>
    <div>
      <input type="password" name="userPW">
    </div>
    <div>
    <label>
      <input type="checkbox" name="remember-me" /> Remember Me
    </label>
    </div>
    <div><button>LOGIN</button></div>
  </form>
</body>
</html>