<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="../css/layout.css" />
  </head>
  <body>
    <div>
      <div class="detail">
        <h2 th:text="${detail.caption}"></h2>
        <div th:utext="${detail.content}" id="detail"></div>
        <div class="comment-list-box">
          <ul class="comment-list">
            <th:block th:each="item:${detail.commentList}">
            <li>
              <div class="info">
                <div class="author" th:text="${item.author}">글쓴 사람</div>
                <div th:text="${item.strRegDate}">2025-05-21 11:10</div>
              </div>
              <div class="comment-content" th:text="${item.content}">글 내용</div>
            </li>
            </th:block>
            <!--
            <li>
              <div class="info">
                <div>글쓴 사람</div>
                <div>2025-05-21 11:10</div>
              </div>
              <div class="comment-content">글 내용</div>
            </li>
            <li>
              <div class="info">
                <div>글쓴 사람</div>
                <div>2025-05-21 11:10</div>
              </div>
              <div class="comment-content">글 내용</div>
            </li>
            -->
          </ul>
        </div>

        <div class="comment-box">
          <textarea name="comment" class="comment" id="comment"></textarea>
          <button class="btn" id="btn-comment">댓글달기</button>
        </div>
      </div?>
    </div>
    <script th:inline="javascript">
      //타임리프 변수 설정
      const storyID = /*[[${detail.id}]]*/ 0;
      const btnComment = document.querySelector("#btn-comment");
      const comment = document.querySelector("#comment");

      btnComment.addEventListener("click", (e) => {
        const sendData = {
          content: comment.value,
          storyID: storyID,
        };
        fetch("/api/comment/write", {
          method: "post",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(sendData),
        })
          .then((response) => response.json())
          .then((json) => {
            console.log(json);
          });
      });
    </script>
  </body>
</html>
