<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="../css/layout.css" />
  </head>
  <body>
    <div class="wrap">
      <div class="story-thumb-list">
        <th:block th:each="story : ${storyList}">
          <li class="mb-3">
            <a th:href="@{/story/detail/{id}(id=${story.id})}">
              <div class="thumbnail">
                <img src="" th:src="@{|/upload/${story.imgUrl}|}">
              </div>
              <strong th:text="${story.caption}">제목</strong>
            </a>
            <p class="text-muted" th:text="${story.strRegDate}">작성일</p>
          </li>
        </th:block>
      </div>
      <div class="detail">

        <h2 th:text="${detail.caption}"></h2>
        <div th:utext="${detail.content}" id="detail"></div>
        <div class="comment-list-box">
          <ul class="comment-list" id="comment-list">
            <th:block th:each="item:${detail.commentList}">
            <li>
              <div class="info">
                <div class="author" th:text="${item.author}">글쓴 사람</div>
                <div th:text="${item.strRegDate}">2025-05-21 11:10</div>
                <div class="btn-box"><button class="btn btn-delete">삭제</button></div>
              </div>
              <div class="comment-content" th:text="${item.content}">글 내용</div>
            </li>
            </th:block>
            <!--
            <li>
              <div class="info">
                <div>글쓴 사람</div>
                <div>2025-05-21 11:10</div>
              </div>
              <div class="comment-content">글 내용</div>
            </li>
            <li>
              <div class="info">
                <div>글쓴 사람</div>
                <div>2025-05-21 11:10</div>
              </div>
              <div class="comment-content">글 내용</div>
            </li>
            -->
          </ul>
        </div>

        <div class="comment-box">
          <textarea name="comment" class="comment" id="comment"></textarea>
          <button class="btn" id="btn-comment">댓글달기</button>
        </div>
      </div?>
    </div>
    <script th:inline="javascript">
      //타임리프 변수 설정
      const storyID = /*[[${detail.id}]]*/ 0;
      const btnComment = document.querySelector("#btn-comment");
      const comment = document.querySelector("#comment");
      const commentList = document.querySelector("#comment-list");

      btnComment.addEventListener("click", (e) => {
        const sendData = {
          content: comment.value,
          storyID: storyID,
        };
        fetch("/api/comment/write", {
          method: "post",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(sendData),
        })
          .then((response) => response.json())
          .then((json) => {
            console.log(json);
            if(json.isInsert) {
              //제대로 들어감
              //console.log("isInsert true");
              //location.reload();
              commentList.insertAdjacentHTML("beforeend",`<li>
              <div class="info">
                <div class="author">${json.returnComment.author}</div>
                <div>${json.returnComment.strRegDate}</div>
              </div>
              <div class="comment-content">${json.returnComment.content}</div>
            </li>`)
            } else {
                alert("알 수 없는 오류로 글이 입력되지 않았습니다. 잠시 후 다시 시도해 주세요");
            }
          });
      });
    </script>
  </body>
</html>
