<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>member list</title>
</head>
<body>
  <h1>멤버리스트</h1>
    <table border="1">
        <th:block th:each="member : ${memberList}">
        <tr>
            <td th:text="${memberStat.count}">userId</td>
            <td th:text="${member.userID}">userId</td>
            <td th:text="${member.userName}">userId</td>
            <td th:text="${member.userEmail}">userId</td>
            <td th:text="${#temporals.format(member.regDate,'yyyy-MM-dd HH:mm:ss')}">userId</td>
            <td th:text="${#temporals.format(member.modifyDate,'yyyy-MM-dd HH:mm:ss')}">userId</td>
            <td><button th:attr="data-userID=${member.userID}" class="btn-delete">탈퇴</button></td>
        </tr>
        </th:block>
    </table>
    <script>
        document.querySelectorAll(".btn-delete").forEach(btn=>{
            btn.addEventListener("click",(e)=>{
                const userID = btn.dataset.userid;
                console.log("userID==="+userID);
                fetch(`/admin/member/delete/${userID}`,{
                    method:"delete"
                })
                    .then(response=>response.json())
                    .then(json=>{
                        console.log(json);
                        if(json.isDelete) {
                            btn.closest("tr").remove();
                        }
                    })
            })
        })
    </script>
</body>
</html>