body {
  color: #222;
}
* {
  margin: 0;
  padding: 0;
}
ul,
li,
ol {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  border: none;
  background: none;
}
.wrap {
  display: flex;
  width: 1200px;
  margin: 100px auto;
}
.story-thumb-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  li {
    box-sizing: border-box;
    // flex-basis: 25%;
    width: 300px;

    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    .img-box {
      height: 100px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .txt-box {
      h2 {
        font-size: 16px;
      }
    }
  }
}
.story-list {
  display: flex;
  flex-wrap: wrap;
  width: 900px;

  gap: 10px;
  li {
    box-sizing: border-box;
    // flex-basis: 25%;
    width: calc((100% - 60px) / 4);

    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    .img-box {
      height: 250px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .txt-box {
      h2 {
        font-size: 18px;
      }
    }
  }
}

.detail {
  width: 1200px;
  margin: 100px auto;
  img {
    max-width: 100%;
    width: 100%;
  }
  h2 {
    font-size: 20px;
    margin-bottom: 50px;
  }

  .comment-list {
    padding: 50px 0;
    border-top: 1px solid #ccc;
    li {
      margin-bottom: 20px;
      .info {
        display: flex;
        .author {
          font-weight: bold;
          margin-right: 10px;
        }
      }
      .comment-content {
        padding: 20px;
        border-radius: 10px;
        background-color: #eee;
      }
    }
  }
  .comment-box {
    display: flex;
    gap: 10px;
    .comment {
      flex-grow: 1;
      height: 150px;
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 20px;
      box-sizing: border-box;
    }
    .btn {
      background-color: #0c9ee2;
      color: #fff;
      border-radius: 10px;
      width: 150px;
      height: 150px;
    }
  }
}
